@keyframes ldio-uluwmv6sm4p {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-uluwmv6sm4p div {
  position: absolute;
  width: 62px;
  height: 62px;
  border: 8px solid #e48b17;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-uluwmv6sm4p div {
  animation: ldio-uluwmv6sm4p 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-bhoxhmskvfq {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}
.ldio-uluwmv6sm4p {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.48);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-uluwmv6sm4p div { box-sizing: content-box; }
